.header {
  text-align: center;
  min-height: 12vh;
  padding-top: 1rem;
  width: 100%;
  background-color: #48484a;
  color: white;
  font-family: "Lobster", cursive;
}

.sub-header {
  text-align: center;
  padding-top: 2rem;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

.form {
  margin-top: 4rem;
}

.form-group {
  margin-top: 0.75rem;
}

.label {
  font-family: "Lato", sans-serif;
}

.submit-button {
  margin-top: 2rem;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: 3px solid #48484a;
  background: transparent;
  color: white;
  background-color: #48484a;
  transition: all 0.3s ease;
}

.submit-button:hover {
  background-color: rgb(243, 148, 59);
}

.update-preferences {
  margin-top: 2.5rem;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: 3px solid #48484a;
  background: transparent;
  color: white;
  background-color: #48484a;
  transition: all 0.3s ease;
}

.update-preferences:hover {
  background-color: rgb(243, 148, 59);
}

.results {
  margin-top: 3rem;
  min-height: 15vh;
  padding-top: 2rem 2rem 0rem 0rem;
}

p {
  font-size: 1.2rem;
}

.success {
  color: rgb(62, 185, 99);
  font-weight: bold;
}

.fail {
  color: rgb(245, 21, 13);
  font-weight: bold;
}

.temperatureGraph {
  width: 33%;
}

.humidityGraph {
  width: 33%;
}

.table-div {
  width: 50%;
  margin: 0 auto !important;
}

.current-weather-title {
  padding-top: 2rem;
}

.daily-conditions-chart {
  padding-top: 2rem;
}

.conditions-chart {
  padding-top: 2rem;
  margin-bottom: 3rem;
}
